
$services-dark-bg: $dark-blue;

.services-section{
    padding: 11rem 0 11.3rem;
    .services-section-title{
        margin-bottom: 6.1rem;
    }
    .services-section-item{
        margin-bottom: 4.1rem;
        a{
            text-decoration: none;
            
        }
        .services-item-title{
            color: #000;
            padding-left: 24px;
            &:hover{
                color: $blue;
            }
        }
        .services-item-images{
            margin-bottom: 0;
        }
    }
    &.services-dark-section{
        background-color: $services-dark-bg;
        .services-section-item{
            .services-item-title{
                color: #fff;
                &:hover{
                    color: $primary;
                }
            }
            .services-item-data{
                color: #fff;
            }
        }
    }
}